<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view title="places-detail" hide-nav-bar="false" >
    <div class="bar bar-header">
        <h2 class="title">Sub Header</h2>
        <button class="button" ng-click="goBack()">Back</button>
    </div>
    <ion-content padding="true" style="padding-top: 50px">This is an excellent restaurant{{friend.name}}
    </ion-content>
</ion-view>
