<ion-view title="Friends" hide-nav-bar="true">
  <ion-content id="map_cont" ng-init="initialize()" scroll="false">
  	<div style="height:60%"><div id="map-canvas2" style="height:100%"></div></div>
    <div>
        <button ng-repeat="category in categories" style="margin-right:3px" class="button button-small button-positive"
                ng-click="getPlacesCurr(category.name)">
            {{category.name}}
        </button>
    </div>
  	<div style="height:40%">
  	<ion-scroll has-bouncing="true">
	    <ion-list >
	      <ion-item ng-repeat="place in places" type="item-text-wrap" href="#/tab/places/{{place.id}}">
              <i class="icon ion-pizza"></i>
              <span style="padding-left: 20px">{{place.name}}</span>

              <span class="item-note">
                {{(place.distance/1000).toFixed(2);}}km
              </span>
	      </ion-item>
	    </ion-list>
    </ion-scroll>
    </div>
  </ion-content>
</ion-view>
