.list_item {
    padding: 12px; /*places listview */
    height: 62px;
    border-bottom: 1px solid #eee;
}
/*overload fonts*/
h1, h2, h3, h4, h5, h6, .col, .bar{
    font-family: 'Source Sans Pro', sans-serif;
}

/*----new cards grip ----*/
.grid50_cont{
    /*width:40%;*/
    background-color: #4db6ac;
    width: 48%;
    margin: 1%;
    display: inline-block;
    height:0;
    color:#fff;
    font-weight: 900;
    text-align: center;
    padding-bottom: 30%;
    padding-top: 20%;
}
.grid50{
    width:90%;
    height: 90%;
    margin:5%;
}
.bar.bar-header{
    border: 0;
    background-color: #465568;
}
.title{
    font-weight: 600;
}
.color-Main{
    background-color: #465568;
}
.item{
    border-left: 6px solid #F07064;
}
.bar{
    padding:0px;
}
.tabs-striped .tabs{
    background-color: #212e3d;
}
.tabs-striped.tabs-color-light .tab-item.tab-item-active, .tabs-striped.tabs-color-light .tab-item.active, .tabs-striped.tabs-color-light .tab-item.activated {
    margin-top: -2px;
    color: #fff;
    border: 0 solid #F07064;
    border-top-width: 3px;
}
